@import url('https://fonts.googleapis.com/css?family=Roboto:100,300');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300');

* {
	padding: 0;
	margin: 0;
}
body {
    background-image: url("file:///C:/Users/andrewfpetersen/Desktop/GA/andrewfpetersen.github.io/unit_3/images/Hero.jpg");
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}
#h1 {
	font-size: 120px;
	font-weight: 100;
}
#and0 {
	font-size: 120px;
	font-weight: 300;
	color: #ff3333;
}
main, #slogan2  {
	font-weight: 100;
	font-size: 20px;
	font-family: 'Roboto Slab', serif;
	display: inline-block; 
	width: 58%;
	padding: 2%;
	text-align: justify;
	margin-left: 20%;
}
#slogan2 {
	text-align: center;
}
header {
	text-align: center;
}
footer {
	font-weight: 300;
	font-size: 15px;
	padding: 0.2em;
	margin: 0.2em;
	text-align: center;
}
nav {
	font-size: 20px;
	color: #ff3333;
	padding: 0.5em;
}
a {
	padding: 0.75em;
}
a:link {
	color: #ff3333;
	background-color:transparent;
	text-decoration:none;
	font-weight: 100;
}
a:visited {
	color: #ff3333; 
	background-color:transparent; 
	text-decoration:none;
	font-weight: 100;
}
a:hover {
	color: #fff; 
	background-color:transparent; 
	text-decoration:none;
	font-weight: 100;
}
a:active {
	color: #fff; 
	background-color:transparent; 
	text-decoration:none;
	font-weight: 100;
}
.and {
	font-weight: 300;
	color: #ff3333;
	font-size: 25px;
}	
#slogan0 {
	font-size: 60px;
	font-style: italic;
}
#slogan1 {
	font-weight: 300;
	font-style: italic;
	font-size: 25px;
}
.and1 {
	color: #ff3333;
	font-weight: 300;
}